@import "tailwindcss";

@layer base {
  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
    background: transparent;
  }
}

@theme {
  --color-brand-400: #60a5fa;
  --color-brand-500: #2563eb;
  --color-brand-600: #1d4ed8;
  --color-brand-900: #1e3a8a;

  --color-ui-bg: #eff6ff;
  --color-ui-card: #ffffff;
  --color-ui-text: #1e293b;
  --color-ui-muted: #64748b;
  --color-ui-border: #bfdbfe;

  --color-category-blue: #0284c7;
  --color-category-green: #059669;
  --color-category-orange: #ea580c;

  --font-sans: "Inter", "sans-serif";
}

body {
  @apply font-sans bg-ui-bg text-ui-text antialiased;
}
